<html>
<head>
  <title>Error 404</title>
  <!-- scripts -->
  <link type = "text/css" href = "{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel = "stylesheet">
  <link type = "shortcut icon" href = "{{ url_for('static', filename= 'favicon.ico') }}">
  <script src = "{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  <script src = "{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}"></script>
  <!-- fonts -->
  <link href = "https://fonts.googleapis.com/css?family=Acme|Aldrich|Allerta" rel = "stylesheet">
  <!-- metadata -->
  <meta name = "viewport" content = "width=device-width, initial-scale = 1">
  <style>
    #message{
      font-family: 'Allerta',sans-serif;
      font-size: 900%;
    }
    #image{
      vertical-align: middle;
      align-content: center;
    }
    #sm_message{
      font-family: 'Acme',sans-serif;
    }
  </style>
</head>
<body>
  <br><br>
  <div class = "container" id = "">
    <figure>
      <center>
        <img src = "{{ url_for('static',filename = 'images/power.png') }}">
      </center>
    </figure>
  </div><br>
  <div class = "container">
    <div class = "" id = "">
      <div class = "col-sm-4" id = "image">
        <figure><br><br>
          <img src = "{{ url_for('static',filename = 'images/flask.png') }}" height = 119px width = 300px>
        </figure>
      </div>
      <div class = "col-sm-8" id = "message">ERROR 403</div>
    </div>
    <div class = "container">
      <div class = "" id = "">
        <div class = "col-sm-4"></div>
        <div class = "col-sm-8" id = "sm_message"><h2>This Webpage is Forbidden!!</h2></div>
      </div>
    </div>
  </div>
</body>
</html>
